* {
    background-color:rgb(29, 28, 28);
    font-family: 'Open Sans', sans-serif;
    color: orange;
    font-size: 1rem;
}
.text-center {
    position: relative;
    top: 50px;
    text-align: center;
}